version: '3'

services:

  backend:
    build: ./app
    restart: always
    ports:
      - 8000:8000
    environment:
      GREENLIGHT_DB_DSN_DOCKER: ${GREENLIGHT_DB_DSN_DOCKER}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
    depends_on:
      - postgres

  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: greenlight
    ports:
      - "5432:5432"
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "greenlight"]
      interval: 5s
      retries: 5
    restart: always

volumes:
  postgres-db-volume: